<body xmlns:w="js-lib.com/wood">
	<header>
		<span class="icon"><img src="@image/apps" /></span>
		<span class="title">Tiny Store</span>
		<span class="icon"><img src="@image/help" /></span>
		<span class="icon"><img src="@image/settings" /></span>
	</header>

	<aside>
		<span class="icon"><a href="index.htm"><img src="@image/home" /></a></span>
		<span class="icon selected"><img src="@image/call" /></span>
		<span class="icon"><img src="@image/manage-accounts" /></span>
		<span class="icon"><img src="@image/menu-book" /></span>
		<span class="icon"><img src="@image/info" /></span>
	</aside>

	<object-view id="page-view">
		<div class="caption" w:editable="caption"></div>

		<side-menu w:editable="side-menu" data-exclude="true"></side-menu>

		<action-bar w:editable="action-bar" data-exclude="true"></action-bar>
		<section class="content" w:editable="content"></section>
	</object-view>

	<compo-select class="side-dialogs" w:editable="side-dialogs"></compo-select>
	<footer>
		<bread-crumbs />
		<span class="copyright">Copyright &#169; 2021- Gnotis Ltd. Internal use only, all rights reserved.</span>
	</footer>
</body>