<body>
	<header>
		<span class="icon"><img src="@image/action/apps" /></span>
		<span class="title">Tiny Store</span>
		<span class="icon"><img src="@image/action/help" /></span>
		<span class="icon"><img src="@image/action/settings" /></span>
	</header>

	<aside>
		<span class="icon"><a href="index.htm"><img src="@image/action/home" /></a></span>
		<span class="icon selected"><img src="@image/action/call" /></span>
		<span class="icon"><img src="@image/action/manage-accounts" /></span>
		<span class="icon"><img src="@image/action/menu-book" /></span>
		<span class="icon"><img src="@image/action/info" /></span>
	</aside>

	<object-view id="page-view">
		<div class="caption" data-editable="caption"></div>
		<div class="menu" data-editable="menu" data-exclude="true"></div>

		<nav data-exclude="true">
			<ul data-editable="nav"></ul>
		</nav>
		<section class="content" data-editable="content"></section>
	</object-view>

	<section class="side-dialog" data-editable="side-dialog"></section>
	<footer>
		<bread-crumbs></bread-crumbs><span class="copyright">@string/app-rights</span>
	</footer>
</body>