body {
    display: grid;
    grid-template-columns: var(--aside-width) 1fr var(--side-form-width);
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body > * {
    box-sizing: border-box;
    width: 100%;
    font-family: "Segoe UI";
    font-weight: 400;
    color: gray;
}

body>header {
    display: flex;
    flex-direction: row;
    grid-column: 1/4;
    grid-row: 1;
    background-color: cornflowerblue;
}

body>header .icon {
    filter: invert(100%);
}

body>header .icon:hover {
    background-color: rgb(82, 137, 240);
}

.title {
    flex-grow: 1;
    line-height: 48px;
    color: black;
}

body>aside {
    grid-column: 1;
    grid-row: 2/4;
    border-right: solid 1px lightgray;
    background-color: #F0F0F0;
}

body>aside .icon.selected {
    background-color: rgb(168, 192, 236);
    background-color: #E0E0E0;
    xfilter: invert(43%) sepia(59%) saturate(2104%) hue-rotate(163deg) brightness(98%) contrast(101%);
}

body>aside .icon:hover {
    background-color: #E0E0E0;
}

body>object-view {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: var(--menu-width) 1fr;
    grid-template-rows: var(--caption-height) var(--nav-height) 1fr;
    overflow-y: hidden;
}

body>object-view>.caption {
    grid-column: 1/3;
    grid-row: 1;
    border-bottom: solid 1px lightgray;
    padding-left: 20px;
    padding-top: 20px;
    xline-height: 126px;
    xvertical-align: middle;
}

body>object-view>.menu {
    grid-column: 1;
    grid-row: 2/4;
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: solid 1px lightgray;
    background-color: #ffffff;
}

body>object-view>.menu li {
    width: var(--menu-item-width);
    height: var(--menu-item-height);
    line-height: var(--menu-item-height);
    padding-left: 30px;
    cursor: pointer;
    border-left: solid 4px transparent;
}

body>object-view>.menu li.selected {
    background-color: #F0F0F0;
    border-left-color: cornflowerblue;
    color: black;
}

body>object-view>.menu li:hover {
    border-left-color: cadetblue;
}

body>object-view>nav {
    grid-column: 2;
    grid-row: 2;
    border-bottom: solid 1px lightgray;
}

body>object-view>nav ul {
    list-style: none;
    margin: 0;
}

body>object-view>nav ul li {
    display: inline-block;
    line-height: var(--nav-height);
    padding-left: 10px;
    padding-right: 40px;
    cursor: pointer;
}

body>object-view>nav ul li.disabled {
    opacity: 0.4;
    cursor: default;
}

body>object-view>nav ul li:hover {
    background-color: #F0F0F0;
}

body>object-view>nav ul li img {
    vertical-align: middle;
}

body>object-view>nav ul li label {
    color: cornflowerblue;
    cursor: inherit;
}

label {
    font-size: 14px;
}

body>object-view>.content {
    grid-column: 2;
    grid-row: 3;
    overflow-y: auto;
    padding: var(--content-padding) 0 0 var(--content-padding);
    padding-top: 0;
}

body>.side-dialog {
    grid-column: 3;
    grid-row: 2;
    border-left: solid 1px lightgray;
    margin: 0 0 0 var(--side-dialog-padding);
    padding: var(--side-dialog-padding);
    overflow: hidden;
}

body>.side-dialog side-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

body>.side-dialog .fill {
    flex-grow: 1;
    margin-bottom: 40px;
}

body>footer {
    grid-column: 2/4;
    grid-row: 3;
    line-height: 47px;
    vertical-align: middle;
    padding-left: 20px;
    border-top: solid 1px lightgray;
    font-size: 12px;
    color: cornflowerblue;
}