<body>
	<header>
		<span class="icon"><img src="@image/action/apps" /></span>
		<span class="title">Gnotis Self Services</span>
		<span class="icon"><img src="@image/action/help" /></span>
		<span class="icon"><img src="@image/action/settings" /></span>
	</header>

	<aside>
		<span class="icon"><a href="index.htm"><img src="@image/action/home" /></a></span>
		<span class="icon selected"><img src="@image/action/call" /></span>
		<span class="icon"><img src="@image/action/manage-accounts" /></span>
		<span class="icon"><img src="@image/action/menu-book" /></span>
		<span class="icon"><img src="@image/action/info" /></span>
	</aside>
	
	<div class="caption" data-editable="caption"></div>
	<div class="menu" data-editable="menu"></div>

	<nav>
		<ul data-editable="nav"></ul>
	</nav>
	<section class="content" data-editable="section"></section>
	<section class="side-dialog" data-editable="side-dialog"></section>
	
	<footer>@string/app-rights</footer>
</body>
