<app package="js.tiny.store">
	<binding bind="Application" />
	<binding bind="Context" />
	<binding bind="Workspace" />
	<binding bind="MetaChangeListener" />
	<binding bind="StoreEntityValidator" />
	<binding bind="DataServiceValidator" />
	<binding bind="ServiceOperationValidator" />

	<binding bind="dao.Database" to="dao.DatabaseImpl" />
	<binding bind="dao.MongoDB" />
	<binding bind="dao.StoreUpdateListener" />
	<binding bind="dao.StoreEntityUpdateListener" />
	<binding bind="dao.DataServiceUpdateListener" />
</app>