<app package="js.tiny.store">
	<binding bind="Application" />
	<binding bind="Context" />
	<binding bind="Workspace" />
	<binding bind="Validator" />
	
	<binding bind="ChangeLogListener" />

	<binding bind="dao.Database" to="dao.DatabaseImpl" />
	<binding bind="dao.MongoDB" />
	<binding bind="dao.StoreUpdateListener" />
	<binding bind="dao.StoreEntityUpdateListener" />
	<binding bind="dao.DataServiceUpdateListener" />

	<binding bind="tool.IGitClient" to="tool.GitClientImpl" />
</app>