.caption .logo {
    display: inline-block;
    width: 72px;
    height: 72px;
    background-color: cadetblue;
    vertical-align: middle;
}

.caption h1 {
    display: inline-block;
    vertical-align: super;
    padding-left: 20px;
    font-size: 24px;
}