<app>
	<binding bind="jakarta.persistence.EntityManager" to="js.transaction.eclipselink.EntityManagerImpl" in="ApplicationScoped" />

#foreach($service in $project.services)
	<bindind bind="${service.interfaceName}" to="${service.className}" in="ApplicationScoped" />
#end	
</app>