<app>
	<binding bind="jakarta.persistence.EntityManager" to="js.transaction.eclipselink.EntityManagerImpl" in="ApplicationScoped" />

#foreach($service in $services)
	<bindind bind="${store.packageName}.I${service.className}" to="${store.packageName}.${service.className}" in="ApplicationScoped" />
#end	
</app>