<?xml version="1.0" encoding="UTF-8"?>
<Context reloadable="true">

#foreach($repository in $project.repositories)
#set($database=$repository.database)
	<Resource 
		name="jdbc/${repository.name}"
		factory="org.apache.naming.factory.BeanFactory"
		auth="Container" 
		type="com.mchange.v2.c3p0.ComboPooledDataSource"

		jdbcUrl="${database.url}"
		user="${database.user}" 
		password="${database.password}"
	/>
		
#end

</Context>
