<?xml version="1.0" encoding="UTF-8"?>
<Context reloadable="true">

	<Resource 
		name="jdbc/${store.name}"
		factory="org.apache.naming.factory.BeanFactory"
		auth="Container" 
		type="com.mchange.v2.c3p0.ComboPooledDataSource"

		jdbcUrl="${store.connectionString}"
		user="${store.user}" 
		password="${store.password}"
	/>

</Context>
