html, body {
	margin: 0;
	font-family: "Segoe UI";
	font-size: var(--font-size);
}

body * {
	color: rgb(50, 49, 48);
}

.danger {
	color: var(--danger-color);
}

.care {
	color: var(--care-color);
}

.hidden {
	display: none !important;
}