button {
	min-width: 80px;
	height: 32px;
	padding: 0 16px;
	border: none;
	background-color: var(--button-bg-color);
	color: white;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

button.accent {
	background-color: var(--button-accent-bg-color);
}

button.danger {
	background-color: var(--danger-color);
	color: white;
}

button.care {
	background-color: var(--care-color);
	color: white;
}
