h1 {
	margin: 0;
	font-size: var(--h1-font-size);
	font-weight: var(--font-weight);
	color: cornflowerblue;
}

h2 {
	margin: 0;
	font-size: var(--h2-font-size);
	font-weight: var(--font-weight);
}

h3 {
	margin: 0;
	font-size: var(--h3-font-size);
	font-weight: var(--font-weight);
}

.line-break {
	margin-top: var(--line-break);
}