h1 {
	margin: 0;
	font-size: var(--h1-font-size);
	font-weight: var(--font-weight);
	color: cornflowerblue;
}

h1.line-break {
	margin-top: var(--line-break);
}

h2 {
	margin: 0;
	font-size: var(--h2-font-size);
	font-weight: var(--font-weight);
}

h2.line-break {
	margin-top: var(--line-break);
}
