.icon {
    display: inline-block;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    cursor: pointer;
    text-align: center;
}

.icon:hover {
}

.icon img {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: middle;
    margin: 0 auto;
}