select,
select-edit {
    display: block;
    min-width: 50%;
    background: white;
    border: none;
    border-bottom: solid 1px lightgray;
    padding: 4px 20px 4px 4px;
    font-size: 14px;
}

select:required,
select-edit.required {
    border-color: cadetblue;
}

select.invalid,
select-edit.invalid {
    border-bottom-color: red;
}

select:focus,
select-edit:focus {
    outline: none;
}

select:invalid,
select-edit:invalid {
    color: lightgray;
}

option {
    background: white;
    border: solid 1px lightgray;
    padding: 2px;
}

option:hover {
    background: white;
}

select-edit {
    position: relative;
    width: 50%;
    height: 25px;
}

select-edit.large {
    width: 90%;
}

select-edit select {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 24px;
    border: none;
    margin: 0;
}

select-edit input {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - var(--select-arrow-width));
    height: 23px;
    border: none;
    margin: 0;
    background-color: white;
}

select-edit select:focus,
select-edit input:focus {
    outline: none;
}