table {
    margin-top: 4px;
}

table tr.selected {
    background-color: #F8F8F8;
}

table th {
    font-size: var(--th-font-size);
    font-weight: var(--font-weight);
    color: black;
}

table th, table td {
    white-space: nowrap;
    padding: 8px 24px;
    text-align: left;
    font-size: var(--td-font-size);
    font-weight: var(--font-weight);
}

table td.accent {
    color: cornflowerblue;
    cursor: pointer;
}