table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 4px;
}

table thead tr {
    border-top: solid 1px #C0C0C0;
    border-bottom: solid 1px #C0C0C0;
}

table tbody tr {
    border-bottom: solid 1px #F0F0F0;
    cursor: pointer;
}

table tr.selected {
    background-color: #F8F8F8;
}

table tr.selected td {
    color: var(--th-text-color);
}

table th,
table td {
    padding: var(--table-padding);
    white-space: nowrap;
}

table th {
    color: black;
    text-align: left;
    font-weight: var(--font-weight);
    color: var(--th-text-color);
}

table th.large {
    width: 100%;
}

table td {
    vertical-align: top;
    color: var(--td-text-color);
}

table td.large {
    width: 100%;
    white-space: normal;
}

table td.accent {
    color: cornflowerblue;
    cursor: pointer;
}