table {
    min-width: 50%;
    border-collapse: collapse;
    margin-top: 4px;
}

table thead tr {
    border-top: solid 1px #C0C0C0;
    border-bottom: solid 1px #C0C0C0;
}

table tbody tr {
    border-bottom: solid 1px #F0F0F0;
    cursor: pointer;
}

table tr.selected {
    background-color: #F8F8F8;
}

table th {
    font-size: var(--th-font-size);
    font-weight: var(--font-weight);
    color: black;
}

table th,
table td {
    white-space: nowrap;
    padding: var(--table-padding);
    text-align: left;
    font-size: var(--td-font-size);
    font-weight: var(--font-weight);
}

table.narrow th,
table.narrow td {
    padding: var(--table-narrow-padding);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

table td.accent {
    color: cornflowerblue;
    cursor: pointer;
}