textarea {
	width: 90%;
	border: solid 1px lightgray;
	resize: none;
	padding: 4px;
	font-size: 14px;
}

textarea:required {
	border-color: cadetblue;
}

textarea:focus {
	outline: none;
}

textarea.invalid {
	border-color: red;
}