/** dimmensions */
:root {
    --bar-height: 48px;
    --header-height: var(--bar-height);
    --footer-height: var(--bar-height);
    --aside-width: var(--bar-height);
    --side-form-width: 500px;
    --menu-width: auto;
    --caption-height: 128px;
    --nav-height: var(--bar-height);
    --menu-item-width: 200px;
    --menu-item-height: var(--bar-height);
    --icon-size: 28px;
    --p-space: 20px;
    --dt-head-space: 4px;
    --content-padding: 40px;
    --side-dialog-padding: 20px;
    --section-space: 40px;
    --control-space: 36px;
    --line-break: 40px;
    --table-padding: 8px 24px;
    --table-narrow-padding: 8px 8px;
}

/** font sizes */
:root {
    --font-weight: 400;
    --h1-font-size: 1.4rem;
    --h2-font-size: 1.1rem;
    --h3-font-size: 1.0rem;
    --dl-font-size: 1.1rem;
    --p-font-size: 1rem;
    --th-font-size: 16px;
    --td-font-size: 14px;
}

/** colors */
:root {
    --danger-color: #d94d48;
    --care-color: #008000;
    --border-color: #edebe9;
}