/** dimmensions */
:root {
    --bar-height: 3rem;
    --header-height: var(--bar-height);
    --footer-height: var(--bar-height);
    --aside-width: var(--bar-height);
    --side-form-width: 500px;
    --menu-width: auto;
    --caption-height: 7rem;
    --nav-height: var(--bar-height);
    --menu-item-width: 200px;
    --menu-item-height: var(--bar-height);
    --icon-size: 28px;
    --p-space: 20px;
    --dt-head-space: 4px;
    --content-padding: 40px;
    --side-dialog-padding: 20px;
    --section-space: 2.5rem;
    --control-space: 2rem;
    --line-break: 2rem;
    --table-padding: 8px 16px;
}

/** font sizes */
:root {
    --font-size: 15px;
    --font-weight: 400;
    --h1-font-size: 1.6rem;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1.1rem;
    --dl-font-size: 1.1rem;
    --p-font-size: 1rem;
    --th-font-size: 1rem;
    --td-font-size: 1rem;
}

/** colors */
:root {
    --danger-color: #d94d48;
    --care-color: #008000;
    --border-color: #edebe9;
    --button-bg-color: #0383be;
    --button-accent-bg-color: #038f03;
    --text-color: #252525;
    --th-text-color: #000000;
    --td-text-color: #606060;
}