/** dimmensions */

:root {
    --header-height: 48px;
    --footer-height: var(--header-height);
	--aside-width: var(--header-height);
    --side-form-width: 500px;
    --menu-width: auto;
    --caption-height: 128px;
    --nav-height: var(--header-height);
    --menu-item-width: 200px;
    --menu-item-height: 3rem;
    --icon-size: 48px;
	--p-space: 20px;
	--dt-head-space: 4px;
    --content-padding: 40px;
    --side-dialog-padding: 20px;
    --dl-font-size: 1.3rem;
    --section-space: 40px;
}

/** colors */

:root {
	--danger-color: #d94d48;
}
